# Entornos virtuales Python
.venv
venv

# Cachés de Python
__pycache__/
*.pyc

# Variables de entorno (nunca a git)
.env
front/.env

# Datos pesados / locales
data/
bigDataset.csv
dataset.csv

# Node / build (frontend)
front/node_modules
front/dist
front/.astro
front/.vercel

# Otros típicos
.DS_Store
*.log
